* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#spc{
  min-height: 900px;
}

.flexContainer{
  display: flex;
}

.bb{
  border-bottom: 1px solid lightgray;
}

.sb{
  justify-content: space-between;
}

.ma{
  margin: auto 0;
}

.invis{
  background: transparent;
  border: none;
}

/* header */
#header{
  height: 64px;
  width: 100vw;
  padding: 8px;

}

/* container for logo and "Drive" */
#logoContainer{
  min-width: 208px;
  margin-right: 30px;
  display: flex;
  align-items: center;

}

#logoContainer a{
  text-decoration: none !important;
  color: black;
}

#logo{
  display: flex; 
}

/* search bar container */
#search{
  background-color: lightgray;
  border-radius: 10px;
  min-width: 720px;
  padding: 10px;
  margin-left: 10px; 
  display: flex;
  align-items: center;
}
#searchBar{
  margin-left: 15px;
  min-width: 570px;
  min-height: 28px;
  font-size: 16px;
}

#drL{
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#lb{
  margin-left: auto;
}

#rMn{
  min-width:245px ;
  display: flex;
  align-items: center;
}
#rMn button{
  margin:0 10px;
}









/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}